[Desktop Entry]
Encoding=UTF-8
Name=MERI
Comment=MERI P2P Cryptocurrency
Comment[fr]=MERI, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MERI, eşten eşe kriptografik sanal para birimi
Exec=jiyo-qt %u
Terminal=false
Type=Application
Icon=jiyo128
MimeType=x-scheme-handler/jiyo;
Categories=Office;Finance;
